 * {
  font-family:Verdana, sans-serif;
  text-align:center;
}

.nav {
  border : 1px solid rgb(22, 21, 21);
}


.icon {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.icon > img {
  position: center;
  top: calc(50% - 400px);
  left: calc(50% - 400px);
}